metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
  setup.dashboard.enabled: true

metricbeat.modules:
- module: system
  metricsets:
    - cpu             # CPU usage
    - load            # CPU load averages
    - memory          # Memory usage
    - network         # Network IO
    - process         # Per process metrics
    - uptime          # System Uptime
    - core           # Per CPU core usage
    - diskio         # Disk IO
    - filesystem     # File system usage for each mountpoint
    - fsstat         # File system summary metrics
  enabled: true
  period: 10s
  processes: ['.*']
  cpu.metrics:  [percentages, normalized_percentages, ticks]
  core.metrics: [percentages, ticks]
  interfaces: [eth0]

setup.kibana:
  host: "0.0.0.0:5601"

#output.file:
#  enabled: true
#  path: "/tmp/metricbeat"
#  filename: metricbeat
#  rotate_every_kb: 10000
#  number_of_files: 5
#  permissions: 0600

output.logstash:
  hosts: ["localhost:5044"]

