[Unit]
Description=Filebeat service
After=network.target

[Service]
Type=simple
ExecStart=/data/{{ filebeat }}-linux-x86_64/filebeat -e -c /data/{{ filebeat }}-linux-x86_64/filebeat.yml

[Install]
WantedBy=multi-user.target
