[Unit]
Description=Metricbeat service
After=network.target

[Service]
Type=simple
ExecStart=/data/{{ metricbeat }}-linux-x86_64/metricbeat -e -c /data/{{ metricbeat }}-linux-x86_64/metricbeat.yml

[Install]
WantedBy=multi-user.target
